.modalContainer {
  /* border: 2px solid green; */
  margin-top: 24px;
}

.smAcc {
  display: none;
}

.modalContainerRight {
  position: relative;
  /* border: 2px solid black; */
  top: 5vh;
  height: 50%;
}

.modalContainerRight img {
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
}

.modalContainerRight {
  /* border: 2px solid brown; */
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .modalContainerRight {
    display: none !important;
    /* border: 2px solid red; */
  }
  .lgAcc {
    display: none;
  }
  .smAcc {
    display: flex;
  }

  .modalContainer {
    /* border: 2px solid yellow; */
  }
}
